
CATIA Assembly/TASECLab Assembly.CATProduct
CATIA Assembly/Electrical routing/Multi-branchable9.CATPart
CATIA Assembly/Electrical routing/Multi-branchable8.CATPart
CATIA Assembly/Electrical routing/Multi-branchable7.CATPart
CATIA Assembly/Electrical routing/Multi-branchable6.CATPart
CATIA Assembly/Electrical routing/Multi-branchable5.CATPart
CATIA Assembly/Electrical routing/Multi-branchable4.CATPart
CATIA Assembly/Electrical routing/Multi-branchable3.CATPart
CATIA Assembly/Electrical routing/Multi-branchable25.CATPart
CATIA Assembly/Electrical routing/Multi-branchable24.CATPart
CATIA Assembly/Electrical routing/Multi-branchable23.CATPart
CATIA Assembly/Electrical routing/Multi-branchable22.CATPart
CATIA Assembly/Electrical routing/Multi-branchable21.CATPart
CATIA Assembly/Electrical routing/Multi-branchable20.CATPart
CATIA Assembly/Electrical routing/Multi-branchable2.CATPart
CATIA Assembly/Electrical routing/Multi-branchable19.CATPart
CATIA Assembly/Electrical routing/Multi-branchable18.CATPart
CATIA Assembly/Electrical routing/Multi-branchable17.CATPart
CATIA Assembly/Electrical routing/Multi-branchable16.CATPart
CATIA Assembly/Electrical routing/Multi-branchable15.CATPart
CATIA Assembly/Electrical routing/Multi-branchable14.CATPart
CATIA Assembly/Electrical routing/Multi-branchable13.CATPart
CATIA Assembly/Electrical routing/Multi-branchable12.CATPart
CATIA Assembly/Electrical routing/Multi-branchable11.CATPart
CATIA Assembly/Electrical routing/Multi-branchable10.CATPart
CATIA Assembly/Electrical routing/Multi-branchable1.CATPart
CATIA Assembly/Electrical routing/Geometrical Bundle1.CATProduct
CATIA Assembly/CUBESAT 3U/STEP/PAAL4H-330-128-1.0-F315-G115-N3.stp
CATIA Assembly/CUBESAT 3U/STEP/PAAL-128-128-1.0-CN14.stp
CATIA Assembly/CUBESAT 3U/STEP/HFS3-1515-80.stp
CATIA Assembly/CUBESAT 3U/STEP/HFS3-1515-330.stp
CATIA Assembly/CUBESAT 3U/STEP/HFS3-1515-300.stp
CATIA Assembly/CUBESAT 3U/STEP/HBLPBS3.stp
CATIA Assembly/CUBESAT 3U/PRODUCTS/CUBESAT 3UM.CATProduct
CATIA Assembly/CUBESAT 3U/Piezas MISUMI.xlsx
CATIA Assembly/CUBESAT 3U/PARTS/UNIONES/ISO_7089_3x7_STEEL_GRADE_A_NORMAL_SERIES_PLAIN_WASHER.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/UNIONES/ISO_4762_M3x6_STEEL_HEXAGON_SOCKET_HEAD_CAP_SCREW.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/UNIONES/ISO_4017_M3x6_STEEL_GRADE_A_HEX_HEAD_SCREW.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/UNIONES/HNSQ3-3.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/UNIONES/_Hexagon socket set screw with flat point DIN 913 - M3x4.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/Union assy.CATProduct
CATIA Assembly/CUBESAT 3U/PARTS/PAAL4H-330-128-1.0-F315-G115-N3_MOD.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/PAAL4H-330-128-1.0-F315-G115-N3.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/PAAL2H-128-128-1.0-F115-G64-N3-CN14.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/PAAL-128-128-1.0-CN14_MOD_1.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/PAAL-128-128-1.0-CN14_MOD.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/PAAL-128-128-1.0-CN14.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/ISO_4032_M3_STEEL_GRADE_A_HEXAGON_NUT.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/HFS3-1515-330.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/HFS3-1515-100.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/HBLPBS3_B.CATProduct
CATIA Assembly/CUBESAT 3U/PARTS/HBLPBS3.CATProduct
CATIA Assembly/CUBESAT 3U/PARTS/EJES.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/_HBLPBS3_Bracket.CATPart
CATIA Assembly/CUBESAT 3U/docs/PAAL4H-330-128-1-F315-G115-N3_3DView.pdf
CATIA Assembly/CUBESAT 3U/docs/PAAL-128-128-1-CN14_3DView.pdf
CATIA Assembly/CUBESAT 3U/docs/HFS3-1515-330_3DView.pdf
CATIA Assembly/CUBESAT 3U/docs/20210329140530_PAAL-128-128-1-CN14.pdf
CATIA Assembly/CUBESAT 3U/docs/20210329140530_PAAL-128-128-1-CN14.csv
CATIA Assembly/CUBESAT 3U/docs/20210329135454_PAAL4H-330-128-1-F315-G115-N3.pdf
CATIA Assembly/CUBESAT 3U/docs/20210329135454_PAAL4H-330-128-1-F315-G115-N3.csv
CATIA Assembly/CUBESAT 3U/docs/20210326135807_HFS3-1515-330.pdf
CATIA Assembly/CUBESAT 3U/docs/20210326135807_HFS3-1515-330.csv
CATIA Assembly/CUBESAT 3U/docs/20210308151804_HNSQ3-3.pdf
CATIA Assembly/CUBESAT 3U/CARGA DE PAGO/Rotor Be2Space.CATProduct
CATIA Assembly/CUBESAT 3U/CARGA DE PAGO/Cazoleta.CATPart
CATIA Assembly/CUBESAT 3U/CARGA DE PAGO/Cabeza.CATPart
CATIA Assembly/Components/Tray C/TC74 Temperature Sensor/TC 74 A0.CATPart
CATIA Assembly/Components/Tray C/PTF Family PT1000 Temperature Sensor/c-nb-ptco-153-a-3d.CATPart
CATIA Assembly/Components/Tray C/Heat Transfer Lab/Plate.stp
CATIA Assembly/Components/Tray C/Heat Transfer Lab/Plate.CATPart
CATIA Assembly/Components/Tray C/Heat Transfer Lab/Parameters_v2.CATPart
CATIA Assembly/Components/Tray C/Heat Transfer Lab/Parameters.stp
CATIA Assembly/Components/Tray C/Heat Transfer Lab/Horizontal_interface.stp
CATIA Assembly/Components/Tray C/Heat Transfer Lab/Horizontal_interface.CATPart
CATIA Assembly/Components/Tray C/Heat Transfer Lab/Heat_Transfer_Lab_v2.CATProduct
CATIA Assembly/Components/Tray C/Heat Transfer Lab/Heat_Transfer_Lab.stp
CATIA Assembly/Components/Tray C/Heat Transfer Lab/H_interface.stp
CATIA Assembly/Components/Tray C/Heat Transfer Lab/H_interface.CATPart
CATIA Assembly/Components/Tray C/Heat Measurement component/farolilla.CATPart
CATIA Assembly/Components/Tray B/Spacers/hexagonal_spacer_MF_M2.5_H15_HEX5_FTD6_MTL6.CATPart
CATIA Assembly/Components/Tray B/Spacers/Hexagonal_spacer_MF_M2.5_H11_HEX5_FTD6_MTL6.CATPart
CATIA Assembly/Components/Tray B/Raspberry Pi Assembly.CATProduct
CATIA Assembly/Components/Tray B/Micro USB Plug.CATPart
CATIA Assembly/Components/Tray B/Coordinate System.CATPart
CATIA Assembly/Components/Tray B/Auxiliary support.CATPart
CATIA Assembly/Components/Tray B/4-1. I2C Multiplexer pHAT (M)/I2C Multiplexer (8 way).CATPart
CATIA Assembly/Components/Tray B/4-1. I2C Multiplexer pHAT (M)/I2C Multiplexer (8 way) pHAT.CATProduct
CATIA Assembly/Components/Tray B/4-1. I2C Multiplexer pHAT (M)/40pin.CATPart
CATIA Assembly/Components/Tray B/3-4. MS5611-01BA03 Barometric Pressure Sensor (F)/pin_header_7_AllCATPart.CATPart
CATIA Assembly/Components/Tray B/3-4. MS5611-01BA03 Barometric Pressure Sensor (F)/MS5611-01BA03 Barometric Pressure Sensor.CATPart
CATIA Assembly/Components/Tray B/3-4. MS5611-01BA03 Barometric Pressure Sensor (F)/MS5611-01BA03 Barometric Pressure Sensor HAT.CATProduct
CATIA Assembly/Components/Tray B/3-3. uBLOX MAX-M8C Pico (F)/uBLOX MAX-M8C Pico.CATPart
CATIA Assembly/Components/Tray B/3-2. mikroBus IMU 9dof click (F)/pin 8-2.54.CATPart
CATIA Assembly/Components/Tray B/3-2. mikroBus IMU 9dof click (F)/mikroBus IMU 9dof click.CATPart
CATIA Assembly/Components/Tray B/3-2. mikroBus IMU 9dof click (F)/mikroBus IMU 9dof click HAT.CATProduct
CATIA Assembly/Components/Tray B/3-1. Breakout Pi Plus ProtoHat (M)/ProtoHat.CATPart
CATIA Assembly/Components/Tray B/3-1. Breakout Pi Plus ProtoHat (M)/Breakout Pi Plus ProtoHat.CATProduct
CATIA Assembly/Components/Tray B/3-1. Breakout Pi Plus ProtoHat (M)/40pin.CATPart
CATIA Assembly/Components/Tray B/2-1. Waveshare high precision adda board raspberry pi (M)/Waveshare high precision adda board raspberry pi.CATProduct
CATIA Assembly/Components/Tray B/2-1. Waveshare high precision adda board raspberry pi (M)/Waveshare high precision adda board raspberry pi.CATPart
CATIA Assembly/Components/Tray B/2-1. Waveshare high precision adda board raspberry pi (M)/terminal block.CATPart
CATIA Assembly/Components/Tray B/2-1. Waveshare high precision adda board raspberry pi (M)/Grove Connector.CATPart
CATIA Assembly/Components/Tray B/2-1. Waveshare high precision adda board raspberry pi (M)/40pin.CATPart
CATIA Assembly/Components/Tray B/2-1. Waveshare high precision adda board raspberry pi (M)/3-Pin header female.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/MOSFET IRF520.CATProduct
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/LED.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/irf520n_module_asm.stp
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/IRF520N.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/IRF3808_4.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/IRF3808_3.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/IRF3808_2_AF0.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/IRF3808_1_2_AF0.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/IRF3808_1_1_AF0.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/CONEC9.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/CONEC8.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/CONEC7.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/CONEC6.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/CONEC5.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/CONEC4.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/CONEC3.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/CONEC2_AF1.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/CONEC2_AF0.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/CONEC1_AF1.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/CONEC1_AF0.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/______________6_AF0.CATPart
CATIA Assembly/Components/Tray B/1-2. MOSFET IRF520/603_RESISTOR.CATPart
CATIA Assembly/Components/Tray B/1-1. Support/Baseplate support.CATPart
CATIA Assembly/Components/Tray B/1-1. Raspberry Pi 3-1/User Library-Raspberry Pi 3-1.STEP
CATIA Assembly/Components/Tray B/1-1. Raspberry Pi 3-1/User Library-Raspberry Pi 3-1.CATPart
CATIA Assembly/Components/Tray A/D-SUB_9.CATPart
CATIA Assembly/Components/Tray A/Converters assembly/Voltage Converter.CATPart
CATIA Assembly/Components/Tray A/Converters assembly/Converters baseplate.CATPart
CATIA Assembly/Components/Tray A/Converters assembly/Converters assembly.CATProduct
CATIA Assembly/Components/Tray A/Converters assembly/Converter support.CATPart
CATIA Assembly/Components/Tray A/Converters assembly/2-pin_JST_XH_male.CATPart
CATIA Assembly/Components/Tray A/Battery Assembly/Sec_Battery_Support.CATPart
CATIA Assembly/Components/Tray A/Battery Assembly/Main_Battery_Support.CATPart
CATIA Assembly/Components/Tray A/Battery Assembly/Battery_Assembly.CATProduct
CATIA Assembly/Components/Tray A/Battery Assembly/Aux_Battery_Support.CATPart
CATIA Assembly/Components/Tray A/Battery Assembly/2500mAh_Battery.CATPart
CATIA Assembly/Components/Anemometro/Tablademedidas.xls
CATIA Assembly/Components/Anemometro/Rotor Be2Space.CATProduct
CATIA Assembly/Components/Anemometro/Cuerpo.CATPart
CATIA Assembly/Components/Anemometro/Cazoleta.CATPart
CATIA Assembly/Components/Anemometro/Cabeza.CATPart
CATIA Assembly/Components/Anemometro/Cabeza parte inferior.CATPart
CATIA Assembly/Components/Anemometro/Anemometro.CATProduct
CATIA Assembly/Components/Anemometro/Adaptador/Conjunto adaptador anemo.CATProduct
CATIA Assembly/Components/Anemometro/Adaptador/Adaptador anemometro.CATPart
CATIA Assembly/B2Space_Interface.stp
CATIA Assembly/B2Space surface.CATPart
CATIA Assembly/B2Space Interface.CATProduct
Datos_Grabados/estático_pre_launch/anemometer.csv
Datos_Grabados/estático_pre_launch/gps.csv
Datos_Grabados/estático_pre_launch/heaters.csv
Datos_Grabados/estático_pre_launch/imu.csv
Datos_Grabados/estático_pre_launch/pressure_sensors.csv
Datos_Grabados/estático_pre_launch/pressure_sensors_calib.csv
Datos_Grabados/estático_pre_launch/pt1000s.csv
Datos_Grabados/estático_pre_launch/tc74s.csv
Datos_Grabados/mision_datos/anemometer.csv
Datos_Grabados/mision_datos/gps.csv
Datos_Grabados/mision_datos/heaters.csv
Datos_Grabados/mision_datos/imu.csv
Datos_Grabados/mision_datos/pressure_sensors.csv
Datos_Grabados/mision_datos/pressure_sensors_calib.csv
Datos_Grabados/mision_datos/pt1000s.csv
Datos_Grabados/mision_datos/tc74s.csv
ENSAYOS/calibracion_p/calibracion_p.xlsx
ENSAYOS/Ensayo de Balance Térmico TBT/AS RUN - PROCEDIMIENTO DE ENSAYO DE BALANCE TÉRMICO A BAJA PRESIÓN DEL HEAT TRANSFER LAB (B2SPACE).docx
ENSAYOS/Ensayo de Balance Térmico TBT/AS RUN - PROCEDIMIENTO DE ENSAYO DE BALANCE TÉRMICO A BAJA PRESIÓN DEL HEAT TRANSFER LAB (B2SPACE).pdf
ENSAYOS/Ensayo de Balance Térmico TBT/P Comp.docx
ENSAYOS/Ensayo de Balance Térmico TBT/pendientes_ascenso.xlsx
ENSAYOS/Ensayo de Balance Térmico TBT/perfil_ensayo.xlsx
ENSAYOS/Ensayo de Balance Térmico TBT/pressure.txt
ENSAYOS/Ensayo de Balance Térmico TBT/PROCEDIMIENTO DE ENSAYO FUNCIONAL.docx
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_12-08_Logs/anemometer.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_12-08_Logs/gps.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_12-08_Logs/heaters.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_12-08_Logs/imu.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_12-08_Logs/pressure_sensors.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_12-08_Logs/pt1000s.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_12-08_Logs/tc74s.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_18_05_Logs/anemometer.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_18_05_Logs/gps.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_18_05_Logs/heaters.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_18_05_Logs/imu.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_18_05_Logs/pressure_sensors.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_18_05_Logs/pt1000s.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/2021-06-03_18_05_Logs/tc74s.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/calibracion_p/lectura.txt
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/calibracion_p/lectura.xlsx
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/calibracion_p/pressure_sensors_TBT.csv
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/calibracion_p/tasec2_20210603.CSV
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/calibracion_p/tasec4_20210603.CSV
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/calibracion_p/tasec7_20210604.CSV
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/TASEC.xlsx
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/tasec2_20210603.CSV
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/tasec4_20210603.CSV
ENSAYOS/Ensayo de Balance Térmico TBT/Resultados/tasec7_20210604.CSV
ENSAYOS/Ensayo de Balance Térmico TBT/The Operating Temperature For A Raspberry Pi – Technologist Tips.pdf
ENSAYOS/Ensayo Funcional en TVAC/As run - PROCEDIMIENTO DE ENSAYO FUNCIONAL A BAJA PRESIÓN DEL HEAT TRANSFER LAB (B2SPACE).docx
ENSAYOS/Ensayo Funcional en TVAC/As run - PROCEDIMIENTO DE ENSAYO FUNCIONAL A BAJA PRESIÓN DEL HEAT TRANSFER LAB (B2SPACE).pdf
ENSAYOS/Ensayo Funcional en TVAC/Calibracion_p/calibracion_p.xlsx
ENSAYOS/Ensayo Funcional en TVAC/Calibracion_p/pressure_sensors.csv
ENSAYOS/Ensayo Funcional en TVAC/Calibracion_p/tasec8_20210618.CSV
ENSAYOS/Ensayo Funcional en TVAC/PROCEDIMIENTO DE ENSAYO FUNCIONAL 1.docx
ENSAYOS/Ensayo Funcional en TVAC/PROCEDIMIENTO DE ENSAYO FUNCIONAL 1.pdf
ENSAYOS/Ensayo Funcional en TVAC/PROCEDIMIENTO DE ENSAYO FUNCIONAL 2.docx
ENSAYOS/Ensayo Funcional en TVAC/PROCEDIMIENTO DE ENSAYO FUNCIONAL 2.pdf
ENSAYOS/Ensayo Funcional en TVAC/PROCEDIMIENTO DE ENSAYO FUNCIONAL A BAJA PRESIÓN DEL HEAT TRANSFER LAB (B2SPACE).docx
ENSAYOS/Ensayo Funcional en TVAC/Resultados/anemometer.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/gps.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/heaters.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/imu.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/Logs_antiguos/anemometer.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/Logs_antiguos/gps.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/Logs_antiguos/heaters.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/Logs_antiguos/imu.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/Logs_antiguos/pressure_sensors.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/Logs_antiguos/pt1000s.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/Logs_antiguos/README.docx
ENSAYOS/Ensayo Funcional en TVAC/Resultados/Logs_antiguos/tc74s.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/pressure_sensors.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/pt1000s.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/tasec8_20210618.csv
ENSAYOS/Ensayo Funcional en TVAC/Resultados/tc74s.csv
