
CATIA Assembly/Components/GPS/GPS_Antenna.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/PAAL4H-330-128-1.0-F315-G115-N3.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/PAAL4H-330-128-1.0-F315-G115-N3_MOD.CATPart
CATIA Assembly/TASECLab Assembly.CATProduct
Meetings/Meeting_1_08_10_21.m4a
Meetings/Meeting_3_25_10_21.m4a
Report/1. Thermal Model/Conductive Couplings/SAT-GONDOLA/SAT-Lprofile-GONDOLA.cddx
Report/1. Thermal Model/Conductive Couplings/SAT-GONDOLA/SAT-Lprofile-GONDOLA.png
Report/1. Thermal Model/Conductive Couplings/SAT-GONDOLA/SAT-Lprofile-GONDOLA.svg.svg
CATIA Assembly/CUBESAT 3U/PARTS/PAAL4H-330-128-1.0-F315-G115-N3.CATPart
CATIA Assembly/CUBESAT 3U/PARTS/PAAL4H-330-128-1.0-F315-G115-N3_MOD.CATPart
CATIA Assembly/TASECLab Assembly.CATProduct
